.form-default{
    padding-top: 20px;
}

.calander-control-btn{
    margin-top: 9px;
}

.calander-control-btn:hover{
color: #337ab7;
font-weight: bold;
}
.list-event{
    padding: 15px 10px;
}

.list-event >li{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
}

.cal-week-view .cal-day-headers .cal-header{
    cursor: pointer;
}

.cal-week-view .cal-day-headers .cal-header.active{
    background-color: #337ab7;
    color: #fff;
}

.input-time{
    height: 74px;
    font-size: 2em;
    padding-right: 5px;
}

.cal-events-row {
    display: none;
}

.cal-event {
    display: none;
}

input.ng-invalid {
    border: 1px solid red;
}

.top-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: #ffffff;
    z-index: 10;
}
.main-content{
    padding-top: 140px;
    position: relative;
    z-index: 1;
}

.cal-day-selected,
.cal-day-selected:hover {
    background-color: #337ab7 !important;
    color: #fff !important;
}